


.card{
    border: 1px solid orangered;
}

.card-header{
    padding: 10px 10px 5px 10px;
    border-bottom:1px dashed rgb(112, 108, 108);
}

.mercadopago-header{
    background-color: #009ee3 ;
}
.mercadopago-header h5{
    color: white;
    font-weight: bold;
    margin-left: 50px;
    text-shadow: 1px 2px 2px #000000;
}
.mercadopago-card{
    border:1px solid #045d83;
}
#items{
    margin-left: 1rem;
}
.num-badge{
    font-size: 18px;
    color: orangered;
   
}
.bot{
     
     color: blue;
     margin-right: 25%; 
     padding-top: 5px;
}
.section-title{
    display: inline;
   
    padding: 10px;
}

